{% extends "layout.html.twig" %}
{% block contenu %}
    <form method="post" action="{{ path('produit.validFormEdit') }}">
        <div class="row">

            {% if errors is defined %}
                <div data-alert class="alert-box alert round">

                    {% for error in errors %}
                        <li>{{ error.getPropertyPath }} : {{ error.getMessage }}</li>
                    {% endfor %}

                    <a href="#" class="close">&times;</a>
                </div>
            {% endif %}

            <fieldset>
                <legend>Modifier (avec twig)</legend>

                <label>Nom :
                    <input name="nom"  type="text"  size="18" value="{{donnees.nom}}" />
                    {% if erreurs.nom is defined %}
                        <small class="error">{{erreurs.nom}}</small>
                    {% endif %}
                </label>

                <label>email
                    <input name="prix"  type="text"  size="18" 	value="{{donnees.email}}"/>
                    {% if erreurs.email is defined %}
                        <small class="error">{{erreurs.email}}</small>
                    {% endif %}
                </label>
                <label>login
                    <input name="prix"  type="text"  size="18" 	value="{{donnees.login}}"/>
                    {% if erreurs.login is defined %}
                        <small class="error">{{erreurs.login}}</small>
                    {% endif %}
                </label>
                <label>code_postal
                    <input name="prix"  type="text"  size="18" 	value="{{donnees.code_postal}}"/>
                    {% if erreurs.code_postal is defined %}
                        <small class="error">{{erreurs.code_postal}}</small>
                    {% endif %}
                </label>
                <label>ville
                    <input name="prix"  type="text"  size="18" 	value="{{donnees.ville}}"/>
                    {% if erreurs.ville is defined %}
                        <small class="error">{{erreurs.ville}}</small>
                    {% endif %}
                </label>
                <label>adresse
                    <input name="prix"  type="text"  size="18" 	value="{{donnees.adresse}}"/>
                    {% if erreurs.adresse is defined %}
                        <small class="error">{{erreurs.adresse}}</small>
                    {% endif %}
                </label>


                <input type="hidden" id="_method" name="_method" value="put" />

                <input type="submit" name="modifierProduit" value="Modifier" />
            </fieldset>
        </div>
    </form>
{% endblock %}
