{% extends "layout.html.twig" %}



{% block contenu %}
    <div class="row">
        <table>
            <caption>Recapitulatifs utilisateur</caption>
            <thead>
            <tr>
                <th>nom</th>
                <th>email</th>
                <th>login</th>
                <th>code postal</th>
                <th>ville</th>
                <th>adresse</th>
                {% if   app.session.get('droit') is defined and  app.session.get('droit') == 'DROITclient' %}
                    <th>opération</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ data.nom }}</td>
                    <td>{{ data.email }}</td>
                    <td>{{ data.login }}</td>
                    <td>{{ data.code_postal }}</td>
                    <td>{{ data.ville }}</td>
                    <td>{{ data.adresse }}</td>
                    <td><a href="{{ path('user.edit')}}">modifier</a></td>
                </tr>
            <tbody>
        </table>
    </div>

{% endblock %}